---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">Posts</h1>
  </header>

  <div class="home">

    <ul class="post-list">
      {% for post in site.posts %}
      <!--{% if post.visible== 1  %}-->
      <li class="post-list-item">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      <!--{% endif %}-->
      {% endfor %}

    </ul>

    <div class="nav">
      <a id="newer" href="#">Newer</a>
      <div class="select-style">
	<select>
	</select>
      </div>
      <a id="older" href="#">Older</a>
    </div>

  </div>
</article>
