body {
    background-color:tan;
}

h1 {
    font-size:2.5em;
}

#tabs{
    min-height:500px;
    width:1260px;
}
.fudge{
    float:left;
    width:700px;
}
p,label,form{
    margin:0;
    padding:0;
    font-size:1.2em;
}

#whichProblem{
    border:0;
    width:24px;
}
#problemSelect{
    margin-top:5px;
    width:305px;
}

#problemPic, #iconList, #numList, #trash, .ruleRow {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    background: #eee;
    padding: 5px;
}

#problemPic{
    height:350px;
    width:300px;
}
#iconList{
     width: 160px;
     height: 330px;
}
.icon{
    width:70px;
    height:70px;
}
#trash, #numList{
    height: 330px;
    width: 80px;
}
.ruleRow{
    height: 80px;
    min-width: 80px;
    margin-top:2px;
    padding:0px;
}
#iconList li, #numList li, .ruleRow li {
    float:left;
    padding: 5px;
    width: 70px;
}
