body {
    background-color:tan;
    overflow:scroll;
    overflow-y:auto;
}

h1 { font-size:2.5em; }

#tabs{
    min-height:550px;
    width:1240px;
}

table { float:left; }

a,p,label,form{
    margin:0;
    padding:0;
    font-size:14px;
}

form{
    height:25px;
    width:100%;
    margin-top:3px;
}

button{
    height:30px;
    width:100%;
}

#problemPicArea, #iconList, #numList, .ruleRow, .trash {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    background: #eee;
    padding: 5px;
}

#problemPicArea{
    height:350px;
    width:300px;
}

#iconList{
    clear:left;
    width: 160px;
    height: 330px;
}

#numList{
    height: 330px;
    width: 80px;
}

#iconList li, #numList li, .ruleRow li {
    float:left;
    padding: 5px;
    width: 70px;
}

.icon{
    width:70px;
    height:70px;
}

.ruleRow, .trash{
    height: 80px;
    min-width: 80px;
    margin-top:2px;
    padding:0px;
}

.numDisplay{
    margin-top:0px;
    font-size:12px;
    border:0;
    width:24px;
}
#problemSelect{
    margin-top:5px;
    width:305px;
}