body {
    background-color:tan;

}

h1 {
    font-size:2.5em;
}

#tabs{
    min-height:555px;
    font-size:1.3em;
}
.icon{
    width:70px;
    height:70px;
}
#iconList, #trash, .iconTarget {
     list-style-type: none;
     margin: 0;
     padding: 0;
     float: left;
     margin-right: 10px;
     margin-top: 10px;
     background: #eee;
     padding: 5px;
}
#iconList{
     width: 160px;
     height: 330px;
}
#trash{
    height: 330px;
    width: 80px;
}
.iconTarget{
    height: 80px;
    min-width: 80px;
    margin-top:2px;
    padding:0px;
}
#iconList li, .iconTarget li {
    float:left;
    padding: 5px;
    width: 70px;
}
