
/**
 * Site header
 */
.site-header {
    min-height: 56px;

    background-color: $grey-color-light;

    // Positioning context for the mobile navigation icon
    position: relative;

}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}
.site-title:link{
	color:$text-color;
}
.site-title:visited{
	color:$text-color;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
html,body{
	position: relative;
	width: 100%;
	//height: 100%;
	min-height:100%;
	margin: 0;
	padding: 0;
}
#container{
	min-height: 100%;
	position: relative;

}
.site-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    background-color: $grey-color-light;
    padding-top: $spacing-unit / 2;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    height:100%;
    min-height:500px;
    padding-top:$spacing-unit;
    color: $white-color;

    background-image: url('karnaca3.jpg');

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-origin: padding-box;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    margin-bottom: $spacing-unit;
}

.post-list-item{
	
}

.post-meta {
    font-size: $small-font-size;
    color: $white-color;
}

.post-link {
    display: block;
    font-size: 24px;
    margin-bottom: $spacing-unit;
}

/**
 * Posts
 */
.post{
    min-height:inherit;
    .post-content > p {
    text-indent: 3%;
    text-align:justify;
    text-justify:inter-word;
}
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content,.home {
		    font-family:$content-font-family;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background:rgba(55, 55, 55, 0.35);
    padding:$spacing-unit $spacing-unit;
    color: $white-color;
    min-height: inherit;
    margin-bottom: $spacing-unit*2;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

}

//the navigation "bar"
.nav{
    text-align:center;
}
#newer, select, #older {
    display:inline-block;
}

.select-style{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);      
    overflow:hidden;
    padding: 0;

    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;

    background-color: $grey-color-light;
    background: $grey-color-light url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
}

select {
       text-align:center;
    padding-left:5px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}

#newer {
    float:left;
}
#older {
    float:right;
}

blockquote {
color: $grey-color-light;

}

//anchors and footnotes
.page-content{
    a:link {
    	color:$link-color;
    }
    a:visited {
        color:$link-color;
    }
}

//footnote formatting
.footnotes{
    font-size: $footnote-size;
    padding-top: $spacing-unit;
}

//add space under horizontal rule
hr{
    margin: 0 0 $spacing-unit/2 0;
}