
body{
    font: 14px "Open Sans", serif;
    background-color:black;
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
}
*{margin: 0; padding: 0; box-sizing: border-box;}

a { text-decoration: none; }

li {
    list-style: none;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0 10px;
    text-align: center;
}

.container{
    margin: 10px 20px 30px;
    max-width: 600px;
}

.row {
    float: left;
    width: 100%;
}

.timeline-both-side{
background:black;
  float: left; 
  width: 96%; 
//  margin: 20px 2% 50px; 
//  margin-top:2%;
  margin-bottom:2%;
  position: relative; 
  box-sizing: border-box;
}


.timeline-both-side:before{
  background-color: #ccc; 
  bottom: 0; 
  content: " "; 
  left: 34%; 
//  left: 38%; 
  position: absolute; 
  top: 0; 
  width: 1px;
}


.timeline-both-side:after{
  border-radius: 50%; 
  bottom: -22px; 
  content: ""; 
  height: 18px; 
  left: 34%; 
//  left: 38%; 
  margin-left: -11px; 
  position: absolute; 
  width: 18px; 
  border: 2px solid #ccc;
}

.timeline-both-side li {
  position: relative; 
  float: left; 
  width: 100%;
  display:flex;
  flex-flow: row wrap;
}

.timeline-both-side li .border-line{
  background-color: #ccc; 
  font-size: 1.4em; 
  height: 1px; 
  left: 34%; 
//  left: 38%; 
  margin-left: -4%;
//  margin-left: -8%;
  position: absolute; 
  text-align: center; 
  top: 50%; 
  width: 4%; 
//  width: 8%; 
  z-index: 100;
}

.timeline-both-side li.opposite-side .border-line{
  left: auto; 
  right: 50%; 
  margin-left: 0; 
  margin-right: -8%;
}

.timeline-both-side li .border-line:before {
  background-color: #ccc; 
  content: "";
  height: 7px; 
  position: absolute; 
  right: -4px; 
  top: -3px; 
  width: 7px;
}

.timeline-both-side li.opposite-side .border-line:before{
  left: -4px; 
  right: auto;
}

.timeline-both-side li .timeline-description{
  border: 2px solid white;
  border-radius: 5px; 

  background-color:black;
  color:white;
  font: normal 14px "Nunito", Verdana, Sans-Serif;
  text-transform:uppercase;  

  width: 30%;
  float: left; 

  padding-top: 4px; 
  padding-bottom: 6px; 
  position: relative; 

  margin-bottom: 10px;
  
}

.timeline-both-side li .timeline-description p{
    margin-left:6px;
    margin-right:6px;
}

.episodeStripe{
    background-color:white;
    color:black;
    font-size:12px;
}
.episodeDescription{
    font-size:11px;
    text-transform:none;
}

.timeline-both-side li.opposite-side .timeline-description{
  float: right;
}

#seasons .ui-accordion-content{
    padding:10px;
}

h1{
    color:white;
}

h1,
.ui-accordion-header{
    font-family: "Michroma";
}

.season{
    background:black;
}

.dummy{
    display:inline-block;
    width:10px;
    margin-left:4%;
//    margin-left:8%;
}

.character{
    display:inline-block;
    font: normal 11px "Nunito", Verdana, Sans-Serif;
    color: white;
    margin-top:-11px;
}

.vertical{
    display:inline-block;
    width:10px;
    //margin-left:3.5%;
    flex: 0 0 10px;
}

.whiteBorder{
    border: 1px solid white;
}

.roundTop{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.roundBottom{
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

.detail{
    border-radius: 50%; 
    content: ""; 
    height: 10px; 
    top:50%;
    margin-top:-5px;
    position: absolute; 
    width: 10px; 
    border: 2px solid black;   
    background-color:white;
    cursor:pointer;
}

.ui-tooltip {
    border: none;
    border-radius: 0px;
    background:black;
    box-shadow: none;
    padding: 10px 20px;
    color:white;
    font: normal 14px "Nunito", Verdana, Sans-Serif;
}
