svg {
    display:block;
    margin:auto
}
svg rect{
    fill: steelblue;
}
svg text{
    fill: white;
    font: 10px sans-serif;
    text-anchor: middle;
}
svg circle{
    fill: steelblue;

}

.float {
  float: left;

  box-sizing: border-box;

  background: lightgreen;
  border: solid green 1px
}

.extrapanel{
    width:10%;
}
.leftpanel{
    width:30%;
}
.rightpanel{
    width:60%;
}

.tick text {
    fill:black;
  font: 10px sans-serif;
}

.mesh {
    fill: none;
  stroke: #fff;
//  stroke-linecap: round;
//  stroke-linejoin: round;
}
.country {
//    stroke:black;
    fill: #ccc;
  cursor: pointer;
}
.active {
  fill: orange;
}