.content{
    padding-left:5%;
    padding-right:5%;
}
.title,p{
    font-family:verdana;
}
.title{
    background-color:#fafafa;
    overflow:auto;
}
.title p{
    padding-left:2.5%;
    color:lightgray;
}
.title h1{
    padding-left:2.5%;
}

.animated{
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    pointer-events: auto;
}

@keyframes fadeOut{
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    pointer-events: none;
}


svg {
    display:block;
    margin:auto
}
#ocean{
    fill: steelblue;
}
svg text{
    fill: white;
    font: 10px sans-serif;
    text-anchor: middle;
}

#chunkL{
    width:40%;
}
#chunkR{
    width:60%;
}

#ispGraph {
   /* border-style: solid; */
   /* border-width: 2px; */
   background: white;
   float:left; 
   clear: left;
   /* height: 490px; */
   /* width: 520px; */
   margin: 2px;
}

.float {
  float: left;
  box-sizing: border-box;
  background: white;
  border: solid green 1px
}

.extrapanel{
    width:10%;
}
.leftpanel{
    width:30%;
}
.rightpanel{
    float: left;
    background: green;
    width:60%;
}

.tick text {
    fill:black;
  font: 10px sans-serif;
}

.mesh {
    fill: none;
  stroke: #fff;
//  stroke-linecap: round;
//  stroke-linejoin: round;
}

.country {
    fill: #ccc;
    cursor: pointer;
}
.state {
    fill: #ccc;
    cursor: pointer;
}


.active {
  fill: orange;
}
