.content{
    padding-left:5%;
    padding-right:5%;
}
.title,p{
    font-family:verdana;
}
.title{
    background-color:#fafafa;
    overflow:auto;
}
.title p{
    padding-left:2.5%;
    color:lightgray;
}
.title h1{
    padding-left:2.5%;
}

.animated{
    -webkit-animation-duration: 2.6s;
    animation-duration: 2.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    pointer-events: auto;
}

@keyframes fadeOut{
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    pointer-events: none;
}
#back {
    width:10%;
    height:10%;
}

svg {
    display:block;
    margin:auto
}
#ocean{
//    fill: steelblue;
fill:white;
}
svg text{
/*    fill: white;*/
    font: 12px sans-serif;
    text-anchor: middle;
}

#ispGraph {
   /* border-style: solid; */
   /* border-width: 2px; */
   background: white;
   float:left; 
   clear: left;
   /* height: 490px; */
   /* width: 520px; */
   margin: 2px;
}

div.tooltip {	
    position: absolute;			
    /* text-align: center;			 */
    /* width: 60px;					 */
    /* height: 28px;					 */
    padding-left: 8px;
    padding-right: 8px;
    font: 12px sans-serif;		
    background: lightsteelblue;
    opacity: 50%;
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
}
ol{
    padding-left:0;
    list-style-position:inside;
}

.float {
  float: left;
  box-sizing: border-box;
//  background: white;
//  border: green 1px
}

.extrapanel{
    width:4%;
}
.leftpanel{
    width:30%;
}
.rightpanel{
    float: left;
//    background: green;
    width:66%;
}
#timelineDiv{
    float:left;
    width:100%;
}
.tick text {
    fill:black;
  font: 10px sans-serif;
}

.mesh {
    fill: none;
    stroke: #fff;
    //stroke: lightgray;
    stroke-width: 0.5;
    
//  stroke-linecap: round;
//  stroke-linejoin: round;
}

.clickable{
    stroke:white;
    stroke-width:0.5;
    fill: #ccc;
    //fill: #29B84E;
    cursor: pointer;
}

.active {
    fill: orange;
    //stroke:black;
    //stroke-width:1;
}
