svg rect{
    fill: steelblue;
}
svg text{
    fill: white;
    font: 10px sans-serif;
    text-anchor: middle;
}
svg circle{
    fill: steelblue;

}

.tick text {
    fill:black;
  font: 10px sans-serif;
}

.mesh {
  fill: none;
  stroke: #fff;
//  stroke-linecap: round;
//  stroke-linejoin: round;
}
.country {
  fill: #ccc;
  cursor: pointer;
}